In [1]:
# Sometimes the data may have too many variables such that most of the variables are correlated

#Model on the whole data => poor accuracy

# Soln- PCA

# Working principle of PCA - dimensionality reduction

# PCA - method of extracting important variables with a motive to capture as much info as possible
#     - extracts low dimensional set of variables from a high dimensional set

# Here we are not going to predict y
# The PCA unsupervised learning approach tries to learn the strength of relationship of varaiables

In [2]:
# Analysing eating habit, excercise habit and body shape

In [3]:
import pandas as pd

In [5]:
d=pd.DataFrame(columns=['Calory','Breakfast','Lunch','Dinner','Excercise','Body Shape'])

In [6]:
d.loc[0]=[1200,1,0,0,2,'Skinny']
d.loc[1]=[2800,1,1,1,1,'Fat']
d.loc[2]=[3500,2,2,1,0,'Skinny']
d.loc[3]=[1400,0,1,0,3,'Skinny']
d.loc[4]=[1600,1,0,2,0,'Normal']
d.loc[5]=[3200,1,2,1,1,'Fat']
d.loc[6]=[1750,1,0,0,1,'Skinny']
d.loc[7]=[1600,1,0,0,0,'Skinny']

In [8]:
d

  Calory Breakfast Lunch Dinner Excercise Body Shape
0   1200         1     0      0         2     Skinny
1   2800         1     1      1         1        Fat
2   3500         2     2      1         0     Skinny
3   1400         0     1      0         3     Skinny
4   1600         1     0      2         0     Normal
5   3200         1     2      1         1        Fat
6   1750         1     0      0         1     Skinny
7   1600         1     0      0         0     Skinny